# IntelliJ / Android Studio
.idea/
*.iml

# Visual Studio Code
.vscode/
*.code-workspace

# Flutter/Dart build
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
flutter_export_environment.sh

# Android build
android/app/build/
android/gradle.properties
android/gradle.wrapper/
android/local.properties

# iOS build
ios/Flutter/.last_build_id
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*

# macOS build
macos/Pods/

# Web build
web/.dart_tool/
web/packages/
web/assets/

# Flutter plugins and packages
**/android/.gradle
**/android/.idea
**/android/build
**/android/gradle
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/ios/.symlinks
**/ios/.config
**/ios/.generated_plugins
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/flutter_assets
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/flutter_export_environment_sim.sh
**/ios/Flutter/flutter_test_config.dart
**/ios/Flutter/flutter_tools.snapshot
**/ios/Flutter/flutter_version
**/ios/Flutter/flutter_version_legacy
**/ios/Flutter/lib
**/ios/Flutter/packages
**/ios/Flutter/sdk.xcconfig
**/ios/FlutterDerived.xcconfig
**/ios/FlutterPluginRegistrant
**/ios/Podfile.lock
**/ios/Pods
**/ios/build
**/ios/ephemeral
**/ios/ios.iml
**/ios/xcuserdata
**/ios/*.mode1v3
**/ios/*.pbxuser
**/ios/*.perspectivev3
**/ios/*.xcworkspace
**/ios/manifest.lock
**/ios/profile
**/macos/.generated_plugins
**/macos/Flutter/Flutter.podspec
**/macos/Flutter/flutter_assets
**/macos/Flutter/Generated.xcconfig
**/macos/Flutter/flutter_export_environment.sh
**/macos/Flutter/flutter_export_environment_sim.sh
**/macos/Flutter/flutter_test_config.dart
**/macos/Flutter/flutter_tools.snapshot
**/macos/Flutter/flutter_version
**/macos/Flutter/flutter_version_legacy
**/macos/Flutter/ephemeral
**/macos/Flutter/flutter_version
**/macos/FlutterGenerated.xcconfig
**/macos/FlutterPluginRegistrant
**/macos/Flutter/Flutter.podspec
**/macos/Flutter/flutter_assets
**/macos/Flutter/Generated.xcconfig
**/macos/Flutter/flutter_export_environment.sh
**/macos/Flutter/flutter_export_environment_sim.sh
**/macos/Flutter/flutter_test_config.dart
**/macos/Flutter/flutter_tools.snapshot
**/macos/Flutter/flutter_version
**/macos/Flutter/flutter_version_legacy
**/macos/Flutter/ephemeral
**/macos/FlutterFlutterGenerated.xcconfig
**/macos/FlutterPluginRegistrant
**/macos/Podfile.lock
**/macos/Pods
**/macos/build
**/macos/ephemeral
**/macos/*.mode1v3
**/macos/*.pbxuser
**/macos/*.perspectivev3
**/macos/*.xcworkspace
**/macos/manifest.lock
**/macos/profile
**/windows/.generated_plugins
**/windows/Flutter/flutter_assets
**/windows/ephemeral
**/windows/flutter/flutter_assets
**/windows/flutter/flutter_export_environment.bat
**/windows/flutter/flutter_export_environment.sh
**/windows/flutter/flutter_export_environment_sim.sh
**/windows/flutter/flutter_test_config.dart
**/windows/flutter/flutter_tools.snapshot
**/windows/flutter/flutter_version
**/windows/flutter/flutter_version_legacy
**/windows/flutter/flutter_windows.dll
**/windows/flutter/flutter_windows.dll.sha1
**/windows/flutter/flutter_windows.dll.sha1sum
**/windows/flutter/flutter_windows.h
**/windows/flutter/flutter_windows.lobsyms
**/windows/flutter/flutter_windows.pdb
**/windows/flutter/flutter_windows.vcxproj
**/windows/flutter/flutter_windows.vcxproj.filters
**/windows/flutter/flutter_windows.vcxproj.user
**/windows/flutter/flutter_windows_lib.def
**/windows/flutter/flutter_windows_lib.vcxproj
**/windows/flutter/flutter_windows_lib.vcxproj.filters
**/windows/flutter/flutter_windows_lib.vcxproj.user
**/windows/flutter/flutter_windows_lib_generated.vcxproj
**/windows/flutter/flutter_windows_lib_generated.vcxproj.filters
**/windows/flutter/flutter_windows_lib_generated.vcxproj.user
**/windows/flutter/flutter_windows_lib_temp.vcxproj
**/windows/flutter/flutter_windows_lib_temp.vcxproj.filters
**/windows/flutter/flutter_windows_lib_temp.vcxproj.user
**/windows/flutter/flutter_windows_lib.vcxproj
**/windows/flutter/flutter_windows_lib.vcxproj.filters
**/windows/flutter/flutter_windows_lib.vcxproj.user
**/windows/flutter/flutter_windows_lib_generated.vcxproj
**/windows/flutter/flutter_windows_lib_generated.vcxproj.filters
**/windows/flutter/flutter_windows_lib_generated.vcxproj.user
**/windows/flutter/flutter_windows_lib_temp.vcxproj
**/windows/flutter/flutter_windows_lib_temp.vcxproj.filters
**/windows/flutter/flutter_windows_lib_temp.vcxproj.user
**/windows/Debug
**/windows/Release
**/windows/windows.iml
**/windows/flutter/flutter_assets
**/windows/flutter/flutter_export_environment.bat
**/windows/flutter/flutter_export_environment.sh
**/windows/flutter/flutter_export_environment_sim.sh
**/windows/flutter/flutter_test_config.dart
**/windows/flutter/flutter_tools.snapshot
**/windows/flutter/flutter_version
**/windows/flutter/flutter_version_legacy
**/windows/flutter/flutter_windows.dll
**/windows/flutter/flutter_windows.dll.sha1
**/windows/flutter/flutter_windows.dll.sha1sum
**/windows/flutter/flutter_windows.h
**/windows/flutter/flutter_windows.lobsyms
**/windows/flutter/flutter_windows.pdb
**/windows/flutter/flutter_windows.vcxproj
**/windows/flutter/flutter_windows.vcxproj.filters
**/windows/flutter/flutter_windows.vcxproj.user
**/windows/flutter/flutter_windows_lib.def
**/windows/flutter/flutter_windows_lib.vcxproj
**/windows/flutter/flutter_windows_lib.vcxproj.filters
**/windows/flutter/flutter_windows_lib.vcxproj.user
**/windows/flutter/flutter_windows_lib_generated.vcxproj
**/windows/flutter/flutter_windows_lib_generated.vcxproj.filters
**/windows/flutter/flutter_windows_lib_generated.vcxproj.user
**/windows/flutter/flutter_windows_lib_temp.v